*{
  padding: 0px;
  margin: 0px;
}
.item {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.2),
    0 2px 3px 0 rgba(255, 255, 255, 0.19);
  transition: transform 450ms;
  margin: 0 8px 0px 8px;
  color: white;
}
.item:hover {
  transform: scale(1.08);
}
.item_img {
  height: 250px;
  width: 300px;
  background-size: cover;
  background-position: center center;
  color: white;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.item_img_fade {
  height: 1rem;
  background-image: linear-gradient(
    rgba(37, 37, 37, 0),
    rgba(7, 7, 7, 0.9),
    rgba(1, 1, 1, 0.99)
  );
}
.priceAndAddToCart {
    padding: 5px 10px 5px 10px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.name{
    padding: 5px 10px 5px 10px;
}
.description{
    padding: 5px 10px 5px 10px;
}