.header_background{
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit: contain;
    height: 668px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.header_fade{
    height: 10rem;
    background-image: linear-gradient(

      rgba(37, 37, 37, 0),
      rgba(7, 7, 7, 0.9),
      rgba(1, 1, 1, 0.99)
    );
  }